@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
* {
    text-align: center;
    transition-duration: 70ms;
}

:root {
    font-family: 'Roboto';
    --background-color: #fff;
    --primary-color: #000;
    --secondary-color: #add8e6;
    background-color: var(--background-color);
    color: var(--primary-color);
}

body {
    margin: 0px;
    padding: 0px;
}

.main-container {
    display: grid;
    justify-items: center;
}

.title-container {
    display: grid;
    justify-items: center;
    margin-top: 3px;
}

.title {
    width: fit-content;
    font-size: 3rem;
    border-bottom: 1px solid;
}

.title-sub {
    margin-top: 1px;
    font-size: 1rem;
}

.ui-container {
    width: fit-content;
    margin-top: 1rem;
}

.upload-container,
.download-container {
    display: flex;
    width: 100%;
}

.upload-container>button,
.download-container>button {
    flex: 1;
    height: 30px;
}

.download-container {
    margin-bottom: 10px;
}

.canvas-container {
    margin-top: 5px;
}

.canvas-container canvas {
    width: 400px;
    height: 400px;
    background-color: var(--secondary-color);
    border: 1px dashed;
}

@media screen and (max-width:450px) {
    .canvas-container canvas {
        width: 300px;
        height: 300px;
    }
}

.settings-container {
    margin-bottom: 20px;
}